@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Roboto:wght@300;400;700&family=Shizuru&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Roboto:wght@300;400;700&family=Shizuru&display=swap');

@media(max-width:480px){
    html, body  {
        font-size: 62.5%;
        height: 100%;
        background-color: #171717;
    }

    .sup {
        display: flex;
        justify-content: center;    
        text-align: center;
        background-color: rgba(255, 255, 255, 0.021);
        width: 100%;
        max-height: 100%;
    }
    .logoo {
        width: 6rem;
        height: 6rem;
        padding-top: 0rem;
    }
    .Titulo {
        font-family: 'Roboto', sans-serif;    
        font-size: 3rem;
        color: gold;
        margin-bottom: 0;
        margin-top: 0rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    h2 {
        color: gold;
        padding-left: 1rem;
        font-family: 'Josefin Sans', sans-serif;
        font-size: 2rem;
    
    }
    #Subtitulo {
        color: gold;
        margin-left: 29%;
        margin-top: -3%;
        font-size: 0.5rem;
        display: flex;
        line-height: 0;}

    .TextInp{
        font-size: 0rem;
        font-family: 'Josefin Sans', sans-serif;
        padding-right: 0.2rem  ;
    }
    .Cuadrado{
        border-style: solid;
        border-color: gold;
        border-width: 0.2rem;
        margin-left: 2rem;
        margin-right: 2rem;
        margin-top: 4rem;
        border-radius: 0.8rem;
    }
    .Triangulo{
        border-style: solid;
        border-color: gold;
        border-width: 0.2rem;
        margin-left: 2rem;
        margin-right: 2rem;
        margin-top: 2rem;
        border-radius: 0.8rem;
    }
    .Caja{
        background-color: rgb(22, 22, 22);
        border-width: 0.2rem;
        border-color: #ffd700;
        max-width: 80%;
        height: 3rem;
        border-radius: 0.4rem;
        color: gold;
        font-family: 'Josefin Sans', sans-serif;
        font-size: 1rem;
        margin-left: 1rem;
        justify-content: center;
        align-items: center;
        display: flex;
        vertical-align: middle;
    }
    .boton{
        margin-left: 1.5rem;
        padding: 0rem;
        align-items: center;
        margin-bottom: 1rem;
        background-color: #171717;
        border-width: 0ch;
    }
    .foto{
        width: 10rem;
        height: 10rem;
        margin-top: 6%;
    }
    .Caja1{
        background-color: rgb(22, 22, 22);
        border-width: 0.2rem;
        border-color: #ffd700;
        width: 5rem;
        height: 3rem;
        border-radius: 0.4rem;
        color: gold;
        font-family: 'Josefin Sans', sans-serif;
        font-size: 1rem;
        margin-left: 1rem;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        margin-top: 2%;
    }
    
    .Circulo{
        border-style: solid;
        border-color: gold;
        border-width: 0.2rem;
        margin-left: 2rem;
        margin-right: 2rem;
        margin-top: 3rem;
        border-radius: 0.8rem;
    }
    .pies {
        color: gold;
        font-family: 'Josefin Sans', sans-serif;
        font-size: 1rem;
    }
}
@media(min-width:481px) and (max-width:1070px){
    html, body  {
        font-size: 62.5%;
        height: 100%;
        background-color: #171717;
    }
    .sup {
        display: flex;
        justify-content: center;    
    }
    .logoo {
        width: 10m;
        height: 10rem;
    }
    .Titulo {
        font-family: 'Roboto', sans-serif;    
        font-size: 5rem;
        color: gold;
        margin-bottom: 0;
        margin-top: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    h2 {
        color: gold;
        font-family: 'Josefin Sans', sans-serif;
        font-size: 2.5rem;
        display: flex;
        justify-content: center;
        max-width: 90%;
        margin-left: auto;
        margin-right: auto;
    
    }
    #Subtitulo {
        color: gold;
        display: flex;
        justify-content: center;
        font-size: 2rem;
        margin-top: -3.4%;
    }
    form {
        color: gold;
        max-width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
    .TextInp{
        font-size: 0rem;
        font-family: 'Josefin Sans', sans-serif;
        padding-right: 0.5rem  ;
        margin-left: 2%;
    }
    .Cuadrado{
        border-style: solid;
        border-color: gold;
        border-width: 0.2rem;
        margin-left: 2rem;
        margin-right: 2rem;
        margin-top: 4rem;
        border-radius: 0.8rem;
    }
    form {
        margin-bottom: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .Triangulo{
        border-style: solid;
        border-color: gold;
        border-width: 0.2rem;
        margin-left: 2rem;
        margin-right: 2rem;
        margin-top: 2rem;
        border-radius: 0.8rem;
    }
    .Caja{
        background-color: rgb(22, 22, 22);
        border-width: 0.2rem;
        border-color: #ffd700;
        width: 11rem;
        height: 3rem;
        border-radius: 0.4rem;
        color: gold;
        font-family: 'Josefin Sans', sans-serif;
        font-size: 1.2rem;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
    }
    .boton{
        padding: 0px;
        align-items: center;
        margin-bottom: 1%;
        background-color: #171717;
        border-width: 0ch;
        margin-left: 3%;
    }
    .foto{
        width: 12rem;
        height: 12rem;
    }
    .Caja1{
        background-color: rgb(22, 22, 22);
        border-width: 0.2rem;
        border-color: #ffd700;
        width: 4rem;
        height: 2rem;
        border-radius: 0.4rem;
        color: gold;
        font-family: 'Josefin Sans', sans-serif;
        font-size: 1.2rem;
        margin-left: 2rem;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
    }
    
    .Circulo{
        border-style: solid;
        border-color: gold;
        border-width: 0.2rem;
        margin-left: 2rem;
        margin-right: 2rem;
        margin-top: 3rem;
        border-radius: 0.8rem;
    }
    .pies {
        color: gold;
        font-family: 'Josefin Sans', sans-serif;
        font-size: 1rem;
    }
}
@media(min-width:1071px) and (max-width: 10000px){
    html, body  {
        font-size: 62.5%;
        height: 100%;
        background-color: #171717;
    }
    .sup {
        display: flex;
        justify-content: center;    
    }
    .logoo {
        width: 15m;
        height: 15rem;
    }
    .Titulo {
        font-family: 'Roboto', sans-serif;    
        font-size: 9rem;
        color: gold;
        margin-bottom: 0;
        margin-top: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    h2 {
        color: gold;
        padding-left: 1rem;
        font-family: 'Josefin Sans', sans-serif;
        font-size: 2.5rem;
    
    }
    #Subtitulo {
        color: gold;
        margin-left: 41%;
        margin-top: -1.5%;
        font-size: 4rem;
        display: flex;
        line-height: 0;
    }
    form {
        color: gold;
    }
    .TextInp{
        font-size: 4rem;
        font-family: 'Josefin Sans', sans-serif;
        padding-right: 0.2%  ;
        margin-left: 2%;
    }
    .Cuadrado{
        border-style: solid;
        border-color: gold;
        border-width: 0.2rem;
        margin-left: 2rem;
        margin-right: 2rem;
        margin-top: 4rem;
        border-radius: 0.8rem;
    }
    form {
        margin-bottom: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .Triangulo{
        border-style: solid;
        border-color: gold;
        border-width: 0.2rem;
        margin-left: 2rem;
        margin-right: 2rem;
        margin-top: 2rem;
        border-radius: 0.8rem;
    }
    .Caja{
        background-color: rgb(22, 22, 22);
        border-width: 0.2rem;
        border-color: #ffd700;
        width: 17rem;
        height: 4rem;
        border-radius: 0.4rem;
        color: gold;
        font-family: 'Josefin Sans', sans-serif;
        font-size: 1.8rem;
        margin-left: 1rem;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
    }
    .boton{
        margin-left: 1.5rem;
        padding: 0rem;
        align-items: center;
        margin-bottom: 1rem;
        background-color: #171717;
        border-width: 0ch;
    }
    .foto{
        width: 28rem;
        height: 28rem;
    }
    .Caja1{
        background-color: rgb(22, 22, 22);
        border-width: 0.2rem;
        border-color: #ffd700;
        width: 8rem;
        height: 3rem;
        border-radius: 0.4rem;
        color: gold;
        font-family: 'Josefin Sans', sans-serif;
        font-size: 2rem;
        margin-left: 2rem;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
    }
    
    .Circulo{
        border-style: solid;
        border-color: gold;
        border-width: 0.2rem;
        margin-left: 2rem;
        margin-right: 2rem;
        margin-top: 3rem;
        border-radius: 0.8rem;
    }
    .pies {
        color: gold;
        font-family: 'Josefin Sans', sans-serif;
        font-size: 1rem;
    }
}